@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
body {
    margin: 0%;
    overflow-x: hidden;
  }
  /* herosec  */
.herosec{
    /* background-image: url(./assets/ayein.jpeg); */
    background-size: cover;
    background-position: center;
    height: fit-content;
    width: 100%;
}
/* web navbar section */
#webnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5em;
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 0% 9.2%;
  }
#webnav h1 {
   letter-spacing: 2px;
   font-family: 'Cookie', cursive;
   margin: 0%;
   color: #111;
  }
#webnav ul {
    display: flex;
    align-items: center;
    margin: 0%;
}
#webnav li{
    margin-right: 3em;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 2px;
    transition: 0.3s;
    color: #111;
}
#webnav li:hover{
    color: #ffbe33;
    transform: scale(1.1);
    cursor: pointer;
}
/* menu section */
.menu{
    background-image: url(./icons8-menu-50.png);
    background-repeat: no-repeat;
    height: 3em;
    width: 3em;
    display: none;
    transition: 0.5s;
}
.menu:active{
    transform: rotate(360deg);
}
.cross{
    background-image: url(./cross\ bar.png);
    background-repeat: no-repeat;
}
.cross:active{
    transform: rotate(360deg);
}
/* herosec description */
#herodescription{
    width: 100%;
    height: 80%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    color: #f1f1f1 ;
    padding: 0% 7.5%;
}
#herodescription h1{
    letter-spacing: 2px;
    font-size: 4rem;
    font-family: 'Cookie', cursive;
    color: #111;
}
#herodescription h6{
    font-weight: 400;
    color: #111;
}
#herodescriptionbtn{
    height: 2.7em;
    width: 10em;
    font-weight: bold;
    color: #111;
    background-color:#ffbe33e1;
    border: none;
    border-radius: 45px;
    transition: 0.2s;
    margin-top: 2%;
}
#herodescriptionbtn:hover {
    cursor: pointer;
    background-color:#ffbe33;
}
/* responsive navbar section */
#respnav{
    height: 100vh;
    width: 100vw;
    background-color: #111;
    color: #111;
    position: absolute;
    top: 0%;
    display: none;
}
#respul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    height: 100%;
    width: 100%;
    margin-top: 0em;
    gap: 1.5em;
}
#respnav li{
    list-style: none;
    font-size: 3rem;
    font-weight: 400;
    /* margin-top: 0.5em; */
    transition: 0.2s;
}
#respnav li:hover{
    color: #ffbe33;
    transform: scale(1.1);
    cursor: pointer;
}
/* media query */
@media (max-width:750px){
    #webnav ul {
        display: none;
    }
    .menu{
        display: block;
    }
    #webnav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0% 4%;
        height: 4.5em;
        color: #f1f1f1;
      }
    #herodescription{
    width: 100%;
    height:70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f1f1f1;
    padding: 0% 8%;
    gap: 1.5em;
}
.hero-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center !important;
}
.hero-detail h6{
    text-align: center !important;
}
#herodescription h1{
    letter-spacing: 2px;
    font-size: 3rem;
    font-family: 'Cookie', cursive;
}
#herodescription{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #f1f1f1 ;
    padding: 0% 7.5%;
}
.hero-img img{
    height: 300px;
    width: auto;
}
}
@media (min-width:750px) {
    #respnav {
        height: 100vh;
        width: 100vw;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0);
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        border: none;
        color: #f1f1f1;
        position: absolute;
        top: 0%;
    }
    #respul {
        display: none;
    }

    #respicons {
        display: none;
    }
}
/* card section */
.cardimg {
    height: 10em;
    width: 10em;
    border: 5px solid #ffbe33;
    border-radius: 80%;
    overflow: hidden;
    margin: 0% auto;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* object-fit: cover; */
    /* object-position: center !important; */
}
img{
    transition: 0.3s;
}
.card:hover img{
    transform: scale(1.1);
}
.cardorderbtn{
    height: 2.5em;
    width: 9em;
    font-weight: bold;
    color: #f1f1f1;
    background-color: #ffbe33e1;
    border: none;
    border-radius: 45px;
    transition: 0.2s;
}
.cardorderbtn:hover {
    background-color: #ffbe33;
}
@media (max-width:1115px){
    #offercard{
      text-align: center;
    }
}
/* gridsection */
.griditems {
    height: 23em;
    width: 19em;
    border-radius: 18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #222831;
    position: relative;
    margin-top: 2em;
    margin: 4% auto;
}
@media(max-width:760px){
.griditems {
    height: 23em;
    width: 17em;
    border-radius: 18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #222831;
    position: relative;
    margin-top: 2em;
    margin: 4% auto;
}
}

.gridimg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: #f1f1f1;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px; 
    border-bottom-left-radius: 45px;
}
.gridcontent {
    height: 50%;
    width: 100%;
    color: #f1f1f1;
    padding-top: 4%;
    padding-left: 4%;
}
.gridfooter{
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #222831;
    background-color: #f1f1f1;
    height: 12%;
    width: 100%;
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 1%;
}
.scale{
    transition:  0.3s;
}
.griditems:hover .scale {
    transform: scale(1.1);
}
.amount {
    font-weight: bold;
    font-size: 1.4rem;
}
.add{
    height: 2em;
    width: 4em;
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid #222831;
    font-weight: bold;
    color: #222831;
}
.sale{
    height: 3em;
    width: 3em;
    border-radius: 45px;
    border: none;
    background-color: #222831;
    color: #f1f1f1;
    position: absolute;
    top: -4%;
    right: -3%;
    animation: sale 2s infinite;
}
@keyframes sale{
   50%{
    transform: translateY(10px);
   }
}
.off{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 1em;
    line-height: 1em;
    text-align: center;
}
/* booktablesec */
#tablesec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2% 4%;
}
form{
    display: flex;
    flex-direction: column;
}
.input{
    margin-bottom: 1.5em;
    height: 3em;
    width: 30em;
    border-radius: 8px;
    border: 1px solid gray;
}
#tablebtn{
    height: 2.7em;
    width: 10em;
    font-weight: bold;
    color: #f1f1f1;
    background-color:#ffbe33e1;
    border: none;
    border-radius: 45px;
    transition: 0.2s;
}
#tablebtn:hover {
    cursor: pointer;
    background-color:#ffbe33;
    
}
@media(max-width:1100px){
    .input{
        margin-bottom: 1.5em;
        height: 3em;
        width:25em;
        border-radius: 8px;
        border: 1px solid gray;
    }
    #map{
        height: 330px;
        width: 400px;
    }
}
@media(max-width:910px){
    .input{
        margin-bottom: 1em;
        height: 3em;
        width:20em;
        border-radius: 8px;
        border: 1px solid gray;
    }
    #map{
        height: 300px;
        width: 350px;
    }
}
@media(max-width:755px){
    #tablesec{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 4% 0%;
    }
    .input{
        margin-bottom: 1em;
        height: 3em;
        width:16em;
        border-radius: 8px;
        border: 1px solid gray;
    }
    #map{
        height: 300px;
        width: 280px;
        margin-top: 1em;
    }
}
/* addtofvrt slide */
#slide{
    height: 3em;
    width: 15em;
    background-color:  #222831;
    color: #f1f1f1;
    position: fixed;
    bottom: 10%;
    right: -100%;
    border-radius: 4px;
  }
  @media (max-width:500px){
    #slide{
        height: 3em;
        width: 15em;
        background-color: #222831;
        color: #f1f1f1;
        position: fixed;
        bottom: 35%;
        right: -100%;
        border-radius: 4px;
      }
  }
#cross{
     position: absolute;
     top: 0%;
     right: 0%;
     border: none;
     transition: 0.3s;
     border-radius: 4px;
     background: transparent;
     color: #f1f1f1;
     cursor: pointer;
     font-size: 1rem;
}
/* footersection */
footer{
    display: grid;
    grid-template-rows: repeat(1,0fr);
    grid-template-columns: repeat(3,0fr);
    grid-gap: 1em;
    background-color: #222831;
    color: #f1f1f1;
    justify-content: space-evenly;
    margin-top: 2em;
}
.footeritems{
    height: fit-content;
    width: 20em;
    margin-top: 2em;
}
@media (max-width:950px){
    footer{
        display: grid;
        grid-template-rows: repeat(3,0fr);
        grid-template-columns: repeat(1,0fr);
        grid-gap: 1em;
        background-color: #222831;
        color: #f1f1f1;
      
    }
    .footeritems{
        width: 20em;
        height: fit-content;
    }
}
/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1 ; 
}
::-webkit-scrollbar-thumb {
  background: #ffbe33; 
  border-radius:45px;
}

